<div class="col-md-12">
  <div class="card card-container">
    <div class="main-box">
      <div class="log">
        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card mb-2" />
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="row mb-2">
            <div class=" col-md-6 col-12">
              <div class="formgroup">
                <input
                  type="text"
                  class="form-control mb-2"
                  placeholder="First Name"
                  name="fname"
                  fname
                 />
              </div>
            </div>
            <div class=" col-md-6 col-12">
              <div class="formgroup">
                <input                  
                  type="text"
                  class="form-control mb-2"
                  placeholder="Last Name"
                  name="lname"
                  lname
                />
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6 col-6">
              <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              required
              email
              #email="ngModel"
              placeholder="Email"
            />
            </div>
            <div class="col-md-6 col-6">
              <select 
              name="role" 
              id="role" 
              class="form-control"
              (change)="OnRoleChange($event)" 
              >
              <option *ngFor="let rol of Roles" [value]="rol.id">{{ rol.label }}</option>
              </select>
            </div>
          </div>

          <div *ngIf="doctor" class="row mb-2">
            <div class="col-md-6 col-6">
              <input type="text" class="form-control" name="afflition" placeholder="Hosptal Address" />
            </div>
            <div class="col-md-6 col-6">
              <select 
              name="spec" 
              id="spec" 
              class="form-control"
              (change)="OnSpecChange($event)" 
              >
              <option *ngFor="let spec of Specialisation" [value]="spec.id">{{ spec.label }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <button class="login">
              Sign Up
            </button>
          </div>
          
        </form>
      </div>
    </div>

  </div>
</div>